* {
    margin: 0;
    padding: 0;
}


/*buttons*/

div.buttons {
    position: absolute;
    bottom: 20vh;
    width: 100%;
    text-align: center;
}

button {
    width: 10vw;
    height: 5vh;
    background-color: white;
    border: none;
    cursor: pointer;
}

/*eat state*/

.chips {
    max-width: 70px;
    display: none;
    position: absolute;
    left: 350px;
    top: 110px
}
